<%- include('partials/header') %>



<div >
    <h1 class="blog-heading">
       Medix <span class="insight">insight</span> 
    </h1>
</div>

<div id="blog-container"  >
    
    
    <div class="blog-box">
    
        <div class="date-box">
            <h1 class="blog-date"> Oct 19</h1>
        </div>
        <div class="blog-post">
            
            <h3  ><a href="/post" class="blog-topic">Adverse Effects Of Drug Abuse</a></h3>
            <h4 class="blog-writer"> Emefo Victoria</h4>
            <div class="bloggish row">
                <p class="blog-content  col-lg-7">Kynade hemiling. Epira livslogga. Telena krod. Speling klickfiske. Myl faktig hemisudat i reatik plalig. Agnostityp ultraliga, det vill säga premyl i ryggsäcksmodellen. Du kan vara drabbad. 
                    Polykemi pretåska tägining kuvypp titål. Rasam årat. Äbel ov. Pora krana engar. Tägt villamatta, fektiga inte anasa kasamma. Od dihet. 
                    </p>

                    <div class="blog-img-box col-lg-5">
                        <a href="/post"><img class="blog-img" src="images/drugs-img.png" alt=""> </a>
                    </div>
            </div>
            
        </div> 
    </div>
    <div class="blog-line"></div>
</div>

<% posts.forEach(function(post) { %>
    <div class="blog-box">
       
        <div class="date-box">
            <h1 class="blog-date"> <%= (post.date) %></h1>
        </div>
        <div class="blog-post">
            
            <h3  ><a href="/posts/<%=post.title%>" class="blog-topic"><%= (post.title) %></a></h3>
            <h4 class="blog-writer"> <%= (post.author) %></h4>
            <div class="bloggish row">
                <p class="blog-content  col-lg-7"><%= (post.content) %></p>

                    <div class="blog-img-box col-lg-5">

                       <!-- <% const displayImages = post.image.name; %>
                       <% let imageArray = []; %>
                       <% imageArray.push(displayImages); %>
                       <% console.log ([imageArray[imageArray.length-1]]); %>
                       <%images.forEach(function(image){ %>
                        <% var pictureName = image.name; %>
                       <% console.log (pictureName[images.length-1]); %>
                        -->
                        

                       <!-- <% }); %> -->
                       <a href="/post"><img class="blog-img" src=" uploads/<%=post.image.name%>" alt=""> </a>
         

                       <!-- im going to create a database and filter to find the image that is same as th imageArray -->
   
                        <!-- <a href="/post"><img class="blog-img" src=" uploads/<%=(posts[posts.length-1].image.name)%>" alt=""> </a> -->
                    </div>
            </div>
            
        </div> 
    </div>

    <div class="blog-line"></div>
<% }); %>

<%- include('partials/footer') %>


